@use "../src/assets/sass/variables" as *;

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  font-family: $primary-font;

  &__background {
    &--morning {
      background: $background-morning;
    }
    &--afternoon {
      background: $background-daytime;
    }
    &--evening {
      background: $background-evening;
    }
    &--night {
      background: $background-night;
      color: $color-white;
    }
  }

  &__message {
    margin-top: 5rem;
    font-weight: $font-bold;
    font-size: 2.4rem;
  }
  &__clock {
    margin-top: 0;
  }
 }
