@use "../src/assets/sass/variables" as *;

@keyframes wave {
  0% {
    transform: rotateZ(0deg);
  }
  12% {
    transform: rotateZ(-45deg);
  }
  36% {
    transform: rotateZ(45deg);
  }
  62% {
    transform: rotateZ(-45deg);
  }
  86% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 5rem;
  margin: 0;

  font-family: $primary-font;

  &__background {
    &--morning {
      background: $background-morning;
    }
    &--afternoon {
      background: $background-daytime;
    }
    &--evening {
      background: $background-evening;
    }
    &--night {
      background: $background-night;
      color: $color-white;
    }
  }

  &__message {
    font-weight: $font-bold;
    font-size: 2.4rem;
  }
  &__clock {
    margin-top: 0;
  }

  .fa-hand {
    animation: wave 2s ease-in-out;
  }
 }
